<footer>
    <p>¡Seguinos en nuestras redes sociales!<br><i>@berkanostore</i></p>
    <a href="https://www.instagram.com/berkanostore/"><img src="img\instagram.png" alt="instagram"></a>
    <a href="https://www.facebook.com/berkanostore"><img src="img\facebook.png" alt="facebook"></a>
    <p id="copy">Copyright © 2021 - Federico Brener - Senpai Academy</p>
</footer>
</body>

</html>